body {
    color: green;
    background-color: rgb(231, 245, 151);
    font-family: sans-serif;
} 
/* body that shows the backgroudn color of the page as well as the font family */

h1{
    color: rgb(26, 88, 13);
    font-family: "Brush Script MT";
    font-size: 60px;
    text-shadow: 2px 2px #e2c36e;
    text-align: center;
}
/* h1 tag set with font family, size and color */

h3 {
    color: rgb(170, 51, 51);
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
}
/* h3 tag set with font family, size and color */

section li a{
    text-decoration: none;
    font-family: Helvetica;
}
/* h3 tag set with font family, size and color */

table {
    color: rgb(19, 59, 37);
    font-family: Helvetica;
}
/* table tag set with font family, size and color */

blockquote {
    text-align: middle;
    text-indent: 10px;
    font-weight: bold;
}