/* General reset for all elements */
* {
    box-sizing: border-box;
}

/* Body styling */
body {
    color: rgb(0, 128, 128);
    background-color: rgb(231, 245, 151);
    font-family: sans-serif;
    margin: 2rem;
    padding: 2rem;
} 

/* Styling for h1 tag */
h1 {
    color: rgb(26, 88, 13);
    font-family: "Brush Script MT";
    font-size: 3rem;
    text-shadow: 2px 2px #e2c36e;
    text-align: center;
}

/* Intro section with flexbox */
.intro-content {
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: space-between; 
}

/* Left content (name and profile picture) */
.left-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
}

/* Profile picture styling */
.pfp {
    border-radius: 50%;
    padding: 7px;
    width: 250px;
    height: 250px;
    margin: 1rem auto;
    border: 5px solid #555;
}

/* Right content (blockquote) */
.right-content {
    flex: 1; /* Takes up half the space */
    padding-left: 1rem;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Blockquote specific styling */
blockquote {
    margin: 0;
    font-weight: bold;
    text-align: right; 
    font-size: 2rem;
}

/* h3 tag styling */
h3 {
    color: rgb(170, 51, 51);
    font-family: Helvetica;
    font-size: 1.5rem;
    text-align: left;
}

caption {
    color: rgb(170, 51, 51);
    font-family: Helvetica;
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 1rem;
}

/* added padding */
h1, h2, h3 {
    padding-bottom: 0.5rem;
}

/* Link styling */
section li a {
    text-decoration: none;
    font-family: Helvetica;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    color: rgb(19, 59, 37);
    font-family: Helvetica;
    padding: 0.75rem;
    text-align: center;
}

/* table border */
table, th, td {
    border: 1px solid #333;
}


/* table row color */
thead {
    background-color: #99927e;
}

/* table row color */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* table row color */
tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

p, li, table {
    font-size: 0.75rem;
}

/* Link color styling */
a {
    text-decoration: none; 
    color: #66ff66; 
}

/* Form styling */
#form_title, form {
    font-family: Helvetica;
    text-align: left;
    font-size: 1rem;
    border: none;
}

form button {
    padding: 0.5rem 1rem;
    color: #31cfe4;
    border: 2px solid #33ff33;
    background-color: #131313;
}

/* Form element styling */
form input, form textarea, form select {
    padding: 0.1rem 0.2rem;
    color: #1b5769;
    border: 2px #33ff33;
    background-color: #bde48a;
}

/* Section and footer margins */
main section, footer section {
    margin: 3rem 0;
    border-top: 2px solid #33ff33;
}
